.box {
    background-color: aquamarine;
    width: 20vh;
    height: 20vh;
    margin: 2vh;

    color:blueviolet;
    font-size: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: greenyellow;
    color: red;
    width: 44vh;
    height: 44vh;
    font-size: 20vh;
    transition: 10s;
    transform: rotate(20160deg);
}

#container {
    display:flex;
    flex-wrap:wrap;
}

